.page-container {
  background-color: #fafaf1;
  color: #005321;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

@media (max-width: 640px) {
  .container {
    padding: 2rem 1rem;
  }

  .container-sm {
    padding: 1.5rem 1rem;
  }
}