.footer {
  background-color: #005321; /* green IPCA */
  color: #e5e5e5;
  padding: 4rem 5rem 2rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 3rem;
  margin-bottom: 3rem;
}

/* Logo and slogan */
.footer-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}

.footer-slogan {
  color: #aaa;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.footer-column h4 {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.6rem;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.footer-column a:hover {
  color: #68ffb1; /* light green IPCA  */
}

/* bottom line */
.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 3rem 2rem;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
  }
}
